<aside class="mdc-temporary-drawer drawer">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content header">
        <img src="http://www.mycariboonow.com/wp-content/uploads/2015/09/Organic-Food.jpg" />
      </div>
    </header>

    <div class="mdc-list-group">
      <h3 class="mdc-list-group__subheader">Stores</h3>
      <ul class="mdc-list no-icons">
        <a href="/inventory/san-mateo">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">store</i>
            San Mateo
          </li>
        </a>
        <a href="/inventory/santa-clara">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">store</i>
            Santa Clara
          </li>
        </a>
      </ul>

      <hr class="mdc-list-divider"  />

      <h3 class="mdc-list-group__subheader">Pages</h3>
      <ul class="mdc-list">
        <a href="/">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">home</i>
            Home
          </li>
        </a>
        <a href="/checkout">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">shopping_cart</i>
            View Cart
          </li>
        </a>
        <a href="/orders">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">store</i>
            View Orders
          </li>
        </a>
        <a href="/track-order">
          <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <i class="mdc-list--detail material-icons">local_shipping</i>
            Track Order
          </li>
        </a>
      </ul>
    </div>
  </nav>
</aside>

<aside class="mdc-permanent-drawer drawer">
  <div class="mdc-list-group">
    <h3 class="mdc-list-group__subheader">Stores</h3>
    <ul class="mdc-list">
      <a href="/inventory/san-mateo">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">store</i>
          San Mateo
        </li>
      </a>
      <a href="/inventory/santa-clara">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">store</i>
          Santa Clara
        </li>
      </a>
    </ul>

    <hr class="mdc-list-divider"  />

    <h3 class="mdc-list-group__subheader">Pages</h3>
    <ul class="mdc-list">
      <a href="/">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">home</i>
          Home
        </li>
      </a>
      <a href="/checkout">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">shopping_cart</i>
          View Cart
        </li>
      </a>
      <a href="/orders">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">store</i>
          View Orders
        </li>
      </a>
      <a href="/track-order">
        <li class="mdc-list-item" data-mdc-auto-init="MDCRipple">
          <i class="mdc-list--detail material-icons">local_shipping</i>
          Track Order
        </li>
      </a>
    </ul>
  </div>
</aside>
