<!doctype html>
<html lang="en">
  <% include head %>
  <body class="mdc-typography">
    <% include header %>
    <main class="mdc-toolbar-fixed-adjust">
      <% include drawer %>
      <div id="body">
        <%- body %>
      </div>
    </main>
    <% include scripts %>
  </body>
</html>
