<!doctype html>
<html lang="en">
  <% include head %>
  <body class="mdc-typography">
    <% include header %>
    <main class="mdc-toolbar-fixed-adjust">
      <% include drawer %>
      <%- body %>
    </main>
    <% include scripts %>
  </body>
</html>
