<%- contentFor('isTitlePage') %>
true

<%- contentFor('title') %>
Nothing Found :(

<%- contentFor('themeColor') %>
#f44336

<%- contentFor('body') %>
<div class="container">
  <h1>There's nothing here.</h1>
  <button class="mdc-button" data-mdc-auto-init="MDCRipple">
    <a href="/">Go Home</a>
  </button>
</div>

<% include partials/title-page-styles %>
<style>
  html {
    background-color: #f44336
  }

  .mdc-toolbar
    box-shadow: none;
  }

  .container {
    align-items: center;
    animation: fadeIn 375ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
  }

  .container > button > a {
    color: #fff;
    text-decoration: none;
  }
</style>
