<%- contentFor('body') %>
<ul id="checkout-stepper" class="mdl-stepper mdl-stepper--linear">
  <li class="mdl-step mdl-step--editable">
    <span class="mdl-step__label">
      <span class="mdl-step__title">
        <span class="mdl-step__title-text">Is your order correct?</span>
      </span>
    </span>
    <div class="mdl-step__content">
      <ul class="mdc-list order-preview-list"></ul>
      <p class="mdc-typography--headline">Total Cost: 0</p>
    </div>
    <div class="mdl-step__actions">
      <button class="mdc-button mdc-button--raised" data-stepper-next>Next</button>
    </div>
  </li>

  <li class="mdl-step mdl-step--editable">
    <span class="mdl-step__label">
      <span class="mdl-step__title">
        <span class="mdl-step__title-text">Enter Payment Info</span>
      </span>
    </span>
    <div class="mdl-step__content"></div>
    <div class="mdl-step__actions">
      <button class="mdc-button mdl-button--raised" data-stepper-next>Next</button>
      <button class="mdc-button mdl-button--raised" data-stepper-cancel>Previous</button>
    </div>
  </li>

  <li class="mdl-step mdl-step--editable">
    <span class="mdl-step__label">
      <span class="mdl-step__title">
        <span class="mdl-step__title-text">Enter Email Address</span>
      </span>
    </span>
    <div class="mdl-step__content"></div>
    <div class="mdl-step__actions">
      <button class="mdc-button mdl-button--raised" data-stepper-next>Next</button>
      <button class="mdc-button mdl-button--raised" data-stepper-cancel>Previous</button>
    </div>
  </li>

  <li class="mdl-step mdl-step--editable">
    <span class="mdl-step__label">
      <span class="mdl-step__title">
        <span class="mdl-step__title-text">Delivery Address</span>
      </span>
    </span>
    <div class="mdl-step__content"></div>
    <div class="mdl-step__actions">
      <button class="mdc-button mdl-button--raised" data-stepper-next>Next</button>
      <button class="mdc-button mdl-button--raised" data-stepper-cancel>Previous</button>
    </div>
  </li>

  <li class="mdl-step mdl-step--editable">
    <span class="mdl-step__label">
      <span class="mdl-step__title">
        <span class="mdl-step__title-text">Confirm Order</span>
      </span>
    </span>
    <div class="mdl-step__content"></div>
    <div class="mdl-step__actions">
      <button class="mdc-button mdl-button--raised" data-stepper-next>Confirm</button>
      <button class="mdc-button mdl-button--raised" data-stepper-cancel>Previous</button>
    </div>
  </li>
</ul>

<!-- <script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuOger4e1qYNxQDS_Sd28D9885IbaIkkA&libraries=places&callback=initAutocomplete">
</script> -->
