<%- contentFor('body') %>
<h1>Organic Food Store</h1>
<div class="button-row">
  <button class="mdc-button" data-mdc-auto-init="MDCRipple">
    <a href="/inventory/san-mateo">
      San Mateo
    </a>
  </button>
  <button class="mdc-button" data-mdc-auto-init="MDCRipple">
    <a href="/inventory/santa-clara">
      Santa Clara
    </a>
  </button>
</div>
