<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="mdc-typography">
    <% include partials/header %>
    <main class="mdc-toolbar-fixed-adjust">
      <% include partials/drawer %>
      <%- body %>
    </main>
    <% include partials/scripts %>
  </body>
</html>
