#body {
  align-items: center;
  overflow-y: auto;
}

.mdl-stepper {
  animation: fadeInDown 375ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
}

.mdl-stepper .mdc-button[data-stepper-next] {
  background-color: #f44336;
  color: #fff;
}

.mdl-step.is-active .mdl-step__label-indicator,
.mdl-step--completed .mdl-step__label-indicator {
  background-color: #f44336;
}

.order-preview-list {
  overflow-y: auto;
}
