.mdc-grid-list {
  overflow-y: auto;
  padding-bottom: 80%;
}

@media (min-width: 1024px) {
  .mdc-grid-list {
    padding-bottom: 0;
  }
}

.mdc-grid-list__tiles {
  justify-content: center;
}

.mdc-grid-tile {
  animation: scaleUp 375ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  width: 90%;
}

@media (min-width: 550px) {
  .mdc-grid-tile {
    width: 40%;
  }
}
@media (min-width: 900px) {
  .mdc-grid-tile {
    width: 20%;
  }
}

.mdc-grid-tile__secondary {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding-left: 8px !important;
}

.mdc-grid-tile__secondary__info {
  display: flex;
  flex-direction: column;
}

.mdc-grid-tile__icon {
  cursor: pointer;
}

#shopping-cart-fab {
  animation: scaleUp 375ms cubic-bezier(0.4, 0, 0.2, 1) 375ms;
  animation-fill-mode: both;
  transition: all 375ms cubic-bezier(0.4, 0, 0.2, 1);

  bottom: 16px;
  overflow: hidden;
  position: fixed;
  right: 32px;
}
